* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main--container {
    font-family: Roboto, sans-serif;
}

.hero--section {
    display: flex;
    flex-direction: column;
    padding: 20px 16% 6% 8%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
    width: 100%;
}

.navlink {
    font-size: 18px;
}

.section2 {
    display: flex;
    margin-top: 14%;
}

.main--text {
    flex: 2;
}

.main--text h1 {
    font-size: 48px;

}

.main--text p {
    font-size: 18px;
    color: #E5E7EB;
}

.img {
    display: flex;
    align-items: center;
    height: 1fr;
    justify-content: center;
    padding: 20px;
    flex: 2;
    background-color: #727783;
    font-size: 18px;
    color: #E5E7EB;
    text-wrap: wrap;
    text-align: center;
}

.information {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    flex-direction: column;
    align-items: center;
    padding: 10px 5% 10% 5%;
}

.information>h2 {
    font-size: 36px;
    font-weight: 800;
}

.stuff--group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.stuff--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}

.stuff {
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}


.stuff--container p {
    text-align: center;
    font-size: 18px;
}

.quote--holder {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
    padding: 8% 22%;
    font-size: 36px;
}

.quote--holder>i {
    text-align: justify;
    word-spacing: -4px;
    line-height: 1.2;
}

.quote--holder>p {
    margin-right: 0px;
    ;
}

.action--section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 10%;
}

.action--holder {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #3882F6;
    color: #F9F1F8;
    border-radius: 10px;
    justify-content: space-between;
    padding: 4% 15%;
}

.sign-up {
    height: 8%;
    width: 16%;
}


footer {
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9F1F8;
}

@media screen and (max-width: 910px) {
    .stuff--group {
        grid-template-columns: 1fr 1fr;
    }

    .action--holder {
        padding: 4% 6%;
    }

    .action--section {
        padding: 5% 5%;
    }

}